@import 'src/styles/styles';
.posts {
    &__add {
        font-size: 5rem;
        color: $wefox;
        cursor: pointer;
    }
    &__text-box {
        transform: skew(1deg, 2deg);
    }
    &__title {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1rem;
        color: $wefox;
        transition: all .4s;
        &:hover {
            transform: scale(1.2);
        }
    }
}