<div class="posts">
    <div class="row text-center">
        <div class="col-12 col-sm-12">
            <div class="posts__text-box m-6">
                <h1 class="posts__title">Check the posts list!</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let post of posts">
                <app-card [post]="post"></app-card>
            </div>
        </div>
    </div>
</div>