// COLORS
$flirtatious: #fed330;
$twinkle-blue: #d1d8e0;
$blue-horizon: rgba(75, 101, 132, 0.8);
$orange-hibiscus: rgba(253, 150, 68, 0.8);
$orange-hibiscus-strong: #fd9644;
$blue-gray: rgba(119, 140, 163, 0.8);
$wefox: #f7ab25;