@import 'src/styles/styles';
.wf-card {
    &:hover {
        transform: translateY(-4px);
    }
    &__antistate {
        position: relative;
        margin: 9rem 1rem;
        text-align: center;
    }
    transition: all .4s;
    width: 25rem;
    height: 35rem;
    perspective: 1500px;
    margin: 2rem 2rem;
    &__post-image {
        width: 23.4rem;
        height: 16rem;
    }
    &__button {
        cursor: pointer;
    }
    &__text-box {
        flex: 2;
    }
    &__title {
        font-weight: bold;
    }
    &-side {
        -webkit-backface-visibility: hidden;
        box-shadow: 1px 2px 15px lighten(black, 0.6);
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all .9s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
            letter-spacing: 2px;
            font-weight: bold;
            color: $twinkle-blue;
            height: 100%;
            width: 100%;
            padding: .8rem;
            .img-fluid {
                height: 16rem;
            }
        }
        &--front {
            background-image: linear-gradient(to bottom right, rgb(239, 110, 110), rgb(186, 22, 22));
            transform: rotateY(0);
        }
        &--back {
            background-image: linear-gradient(to bottom right, $wefox, $orange-hibiscus);
            transform: rotateY(180deg);
        }
    }
    &-side.wf-card-side--back.rotated {
        transform: rotateY(0);
    }
    &-side.wf-card-side--front.rotated {
        transform: rotateY(180deg);
    }
    agm-map {
        height: 92%;
    }
}