@import 'src/styles/styles';
.wf-card {
    width: 250px;
    height: 250px;
    perspective: 1500px;
    margin: 2rem 2rem;
    &-side {
        -webkit-backface-visibility: hidden;
        box-shadow: 1px 2px 15px lighten(black, 0.6);
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all .9s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        .content {
            letter-spacing: 2px;
            font-weight: bold;
            color: $twinkle-blue;
        }
        &--front {
            background-image: linear-gradient(to bottom right, rgb(239, 110, 110), rgb(186, 22, 22));
            transform: rotateY(0);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
        }
        &--back {
            background-image: linear-gradient(to bottom right, rgb(48, 163, 64), rgb(32, 99, 32));
            transform: rotateY(180deg);
        }
    }
    &:hover &-side.wf-card-side--back {
        transform: rotateY(0);
    }
    &:hover &-side.wf-card-side--front {
        transform: rotateY(180deg);
    }
}